@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("../fonts/Raleway-Bold.ttf");
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}
@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #fff;
  font-family: "Raleway";
  text-align: center;
  margin: 0px;
  font-size: 8pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#preload {
  display: none;
}

.disable-hover {
  pointer-events: none;
}

.overflow-wrap {
  overflow-x: hidden;
}

.button {
  padding: 10px 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #303e31;
  border-color: #303e31;
}
.button .mdi {
  vertical-align: middle;
}

.button2 {
  padding: 10px 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  transition: all 0.5s;
  cursor: pointer;
}
.button2:hover {
  background-color: #303e31;
  border-color: #303e31;
}
.button2 .mdi {
  vertical-align: middle;
}

.bold {
  font-family: "Raleway-bold";
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

.hex-wrap {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.hexagon {
  background-color: #04c2c9;
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: "";
  transform: rotateZ(60deg);
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: "";
  transform: rotateZ(-60deg);
}

.highlight {
  color: black;
}

.header {
  font-size: 25pt;
  font-family: "raleway-bold";
  position: relative;
  color: #444649;
  position: relative;
}

.header-bar {
  margin: 25px 0 75px 0;
  width: 70px;
  height: 4px;
  background: #444649;
}

.label {
  font-size: 14pt;
  font-weight: 500;
}

.resume {
  background: #455261;
  height: 100px;
}

nav {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: #262626;
  border-bottom: 3px solid #9d9d9d;
  text-align: left;
  z-index: 99;
}
nav.fixed {
  top: 0;
  bottom: inherit;
  left: 0;
  position: fixed;
}
nav.fixed.desk {
  animation: popDown 0.5s;
}
nav .link-wrap {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  top: 53px;
  background: #aaaaaa;
  overflow: hidden;
  height: 0;
  color: #868686;
  transition: height 0.3s ease-out;
}
nav .link-wrap.visible {
  height: 220px;
}
nav .link-wrap div {
  padding: 12px 20px;
  font-size: 12pt;
  cursor: pointer;
  transition: color 0.5s;
  text-transform: uppercase;
}
nav .link-wrap div:first-child {
  padding: 25px 20px 12px 20px;
}
nav .link-wrap div:hover {
  color: white;
}
nav .mdi-menu {
  position: absolute;
  right: 5vw;
  margin: auto 0;
  font-size: 30pt;
  line-height: 36pt;
  top: 0;
}
nav .active {
  color: white;
}

.carousel-wrap {
  position: relative;
  height: 250px;
  margin: 0 auto;
}

.window {
  overflow: hidden;
  position: relative;
  background: #222;
}

#carousel {
  width: 10000px;
  position: relative;
  top: 0;
}

.slide {
  height: 250px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mdi-chevron-left,
.mdi-chevron-right {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14pt !important;
  font-weight: bold;
  color: #fff;
}

.mdi-chevron-left {
  left: 0;
}

.mdi-chevron-right {
  right: 0;
}

.transition {
  transition: 0.7s;
}

.modal-wrap {
  height: 100vh;
  width: 100vw;
  position: fixed;
  pointer-events: none;
  z-index: 100;
}
.modal-wrap .mask {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}
.modal-wrap .modal {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: relative;
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  color: #333;
  height: 100vh;
}
.modal-wrap .close {
  bottom: 25px;
  right: 10px;
  color: #bbb;
  font-size: 20pt;
  position: absolute;
  font-weight: 800;
  cursor: pointer;
}
.modal-wrap .info-box {
  border-top: 3px solid #1b242f;
  padding: 15px 10px 85px 10px;
  box-sizing: border-box;
  color: #444;
}
.modal-wrap .title {
  font-size: 16pt;
  line-height: 20pt;
  font-family: "Raleway-bold";
}
.modal-wrap .tag {
  display: block;
  font-weight: 300;
  color: #c0c0c0;
  font-family: "Raleway-bold";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  font-size: 8pt;
}
.modal-wrap .detail {
  font-size: 9pt;
  line-height: 14pt;
  margin-top: 13px;
}
.modal-wrap .mdi-open-in-new {
  position: relative;
  left: -10px;
  font-size: 11pt;
}
.modal-wrap .button {
  padding: 11px 30px;
  font-size: 10pt;
  transition: all 0.5s;
  cursor: pointer;
  background: #302e31;
  color: #fff;
  font-weight: 600;
  border: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  right: 60px;
}
.modal-wrap .button.visible {
  pointer-events: initial;
  visibility: visible;
}
.modal-wrap .button:hover {
  color: #302e31;
  background: #fff;
}

.modal-wrap .button2 {
  padding: 11px 30px;
  font-size: 10pt;
  transition: all 0.5s;
  cursor: pointer;
  background: #302e31;
  color: #fff;
  font-weight: 600;
  border: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.modal-wrap .button2.visible {
  pointer-events: initial;
  visibility: visible;
}
.modal-wrap .button2:hover {
  color: #302e31;
  background: #fff;
}

.modal-wrap .carousel {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
.modal-wrap.visible {
  pointer-events: initial;
}
.modal-wrap.visible .modal {
  transform: scale(1);
  opacity: 1;
}
.modal-wrap.visible .mask {
  opacity: 1;
}

section {
  padding: 70px 0 70px 0;
  color: #616161;
  line-height: 11pt;
  position: relative;
}
section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}
section:nth-of-type(1) {
  background: url("../img/1\ \(1\)\ \(1\).jpg");
  padding: 0 10px;
  color: #5d5d5d;
  height: calc(100vh + 53px);
  opacity: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  margin: 0;
}

section:nth-of-type(1) h1 span {
  font-family: "Raleway-semibold";
  font-weight: 900;
  animation: text 2.5s 1;
}

section:nth-of-type(1) .text {
  margin: 0 0 20px 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51x;
  z-index: 1;
  pointer-events: none;
}
section:nth-of-type(1) .hexagon {
  transition: transform 0.9s ease-in-out;
}
section:nth-of-type(1) .hexagon:hover {
  transform: rotate(540deg);
}

section:nth-of-type(1) .mdi-chevron-double-down {
  position: relative;
  background: #17181a;
  font-size: 30pt;
  width: 47px;
  height: 50px;
  line-height: 40pt;
  left: 0;
  right: 0;
  margin: 20px auto 0 auto;
  cursor: pointer;
  transition: background 0.5s;
  color: white;
}

section:nth-of-type(1) .mdi-chevron-double-down:hover {
  background: #302e31;
}
section:nth-of-type(3) {
  background: #302e31;
  color: #dadada;
  padding-top: 175px;
}

section:nth-of-type(3) .header {
  color: #fff;
}
section:nth-of-type(3) .header-bar {
  margin: 25px 0 40px 0;
  background: #fff;
  width: 110px;
}

section:nth-of-type(2) {
  background: #f5f5f5;
}
section:nth-of-type(2) .container {
  padding: 0;
}
section:nth-of-type(2) .filter-wrap {
  position: relative;
}
section:nth-of-type(2) .filter {
  font-size: 6pt;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}
section:nth-of-type(2) .float-bar {
  top: 0;
  bottom: 0;
  left: 30px;
  position: absolute;
  margin: auto 0;
  overflow: hidden;
  height: 25px;
  border-radius: 1px;
  background: #302e31;
  transition: all 0.5s ease-in-out;
}
section:nth-of-type(2) .float-bar .row {
  top: 0;
  bottom: 0;
  left: -30px;
  position: absolute;
  margin: auto 0;
  transition: left 0.5s ease-in-out;
}
section:nth-of-type(2) .float-bar .row .filter {
  color: #fff;
}
section:nth-of-type(2) .text {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
section:nth-of-type(2) #gallery {
  margin: 20px 0;
}
section:nth-of-type(2) #gallery .text,
section:nth-of-type(2) #gallery .button {
  z-index: 2;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: #1b242f;
}
section:nth-of-type(2) #gallery .text .bold,
section:nth-of-type(2) #gallery .button .bold {
  font-size: 16pt;
  padding-bottom: 10px;
}
section:nth-of-type(2) #gallery .button {
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border: 2px solid #e31b6d;
  width: 170px;
  margin: 0 auto;
  font-size: 13pt;
  padding: 7px 0;
}
section:nth-of-type(2) #gallery .mix {
  display: none;
  position: relative;
}
section:nth-of-type(2) #gallery .mix .waypoint {
  background: #fff;
}
section:nth-of-type(2) #gallery .mix .button:hover {
  background: #302331;
  color: #fff;
}
section:nth-of-type(2) #gallery .mix:nth-child(1) .card {
  background: url("../img/retreats.png") center center/cover;
}
section:nth-of-type(2) #gallery .mix:nth-child(2) .card {
  background: url("../img/hangman.png") center center/cover;
}
section:nth-of-type(2) #gallery .mix:nth-child(3) .card {
  background: url("../img/borrow.png") center center/cover;
}
section:nth-of-type(2) #gallery .mix:nth-child(4) .card {
  background: url("../img/bamazon.png") center center/cover;
}
section:nth-of-type(2) #gallery .mix:nth-child(5) .card {
  background: url("../img/friend.png") center center/cover;
}
section:nth-of-type(2) #gallery .mix:nth-child(6) .card {
  background: url("../img/liri.png") center center/cover;
}
/* section:nth-of-type(2) #gallery .mix:nth-child(7) .card {
  background: url("../img/liri.png") center center/cover;
} */

section:nth-of-type(2) #gallery .mix .card {
  height: 240px;
  max-width: 100%;
  width: calc(50vw - 8px);
  cursor: pointer;
  transition: opacity 0.5s;
}
section:nth-of-type(2) #gallery .mix:hover .card {
  opacity: 0;
}
section:nth-of-type(2) #gallery .mix:hover .text {
  opacity: 1;
  top: 24%;
}
section:nth-of-type(2) #gallery .mix:hover .button {
  opacity: 1;
  bottom: 24%;
}
section .flex-40-gt-sm {
  display: block;
}
section:nth-of-type(4) {
  padding: 130px 0 100px 0;
  text-align: left;
}
section:nth-of-type(4) .flex.row-gt-sm,
section:nth-of-type(4) .flex.wrap {
  align-items: flex-start;
}
section:nth-of-type(4) .gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

section:nth-of-type(4) .text {
  font-size: 9pt;
  line-height: 13pt;
  max-height: 85px;
}
section:nth-of-type(5) {
  background: #302e31;
  color: #fff;
  padding-top: 175px;
}
section:nth-of-type(5) .header {
  color: #fff;
}
section:nth-of-type(5) .header-bar {
  margin: 25px 0 40px 0;
  background: #fff;
  width: 110px;
}

section:nth-of-type(5) svg {
  position: absolute;
  top: 0;
  left: 0;
}
section:nth-of-type(5) form {
  margin: 40px auto 0 auto;
  min-width: 95%;
}
section:nth-of-type(5) input[type="text"],
section:nth-of-type(5) input[type="email"],
section:nth-of-type(5) textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 10px 15px;
  background: #262626;
  font-size: 12pt;
  margin-bottom: 3px;
  color: #fff;
}
section:nth-of-type(5) textarea {
  min-height: 150px;
  margin-bottom: 5px;
}
section:nth-of-type(5) .button {
  float: right;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  background: transparent;
  outline: 0;
}
section:nth-of-type(5) .button:hover {
  background: #302e31;
}
section:nth-of-type(5) #success {
  height: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: height 0.25s;
}
section:nth-of-type(5) #success.expand {
  height: 36px;
}
section:nth-of-type(5) #success div {
  background: #04c986;
  color: #157051;
  font-size: 10pt;
  font-weight: 600;
  padding: 5px 0;
  border: 1px solid #157c59;
}
section:nth-of-type(5) #close {
  position: absolute;
  padding: 5px 15px;
  font-size: 12pt;
  font-weight: 600;
  right: 0;
  cursor: pointer;
}

footer {
  background: #262626;
  padding: 70px 0 50px 0;
  position: relative;
}
footer .mdi-chevron-double-up {
  position: absolute;
  top: -25px;
  background: #17181a;
  font-size: 30pt;
  width: 47px;
  height: 50px;
  line-height: 40pt;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  transition: background 0.5s;
}
footer .mdi-chevron-double-up:hover {
  background: #302e31;
}
footer .icon-wrap .icon {
  overflow: hidden;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  width: 55px;
  height: 55px;
  position: relative;
  text-align: center;
  margin: 0 15px;
  background: #262f38;
  font-size: 18pt;
}
footer .icon-wrap .mdi {
  text-align: center;
  color: #fff;
}
footer .icon-wrap .mdi.mdi-codepen {
  font-size: 20pt;
}
footer .icon-wrap .icon:hover {
  background: #141514;
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
}
footer .icon-wrap .icon:hover .mdi {
  color: #fff;
}
footer .icon-wrap .icon:hover .mdi {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}
footer .footnote {
  font-size: 10pt;
  color: #8f9aa7;
  margin-top: 35px;
  opacity: 0.6;
}

@media screen and (max-width: 375px) {
  section:nth-of-type(1) .text h1 {
    font-size: 35px;
  }
  .me {
    margin-bottom: 15px;
  }
  section:nth-of-type(1) h1 {
    font-size: 50pt;
    line-height: 28pt;
  }
}

@media screen and (max-width: 450px) {
  section:nth-of-type(3) .flex {
    top: -40px;
  }
  section:nth-of-type(2) #gallery .mix .card {
    width: 100vw;
  }

  .modal-wrap .button {
    padding: 4px 10px;
    font-size: 7pt;
    right: 50px;
    bottom: 50px;
  }

  .modal-wrap .button2 {
    padding: 4px 10px;
    font-size: 7pt;
    left: 10px;
    bottom: 50px;
  }

  .modal-wrap .close {
    bottom: 50px;
  }

  .modal-wrap {
    height: 90vh;
  }
  .desc {
    font-size: 10pt;
  }

  .me {
    margin-bottom: 15px;
  }

  section:nth-of-type(1) h1 {
    font-size: 17pt;
    line-height: 25pt;
  }
}
@media screen and (min-width: 500px) {
  .desc {
    font-size: 10pt;
    line-height: 19pt;
  }
}

@media screen and (max-width: 500px) {
  section:nth-of-type(1) .text {
    font-size: 19pt;
    line-height: 30pt;
  }
}
@media screen and (max-width: 675px) {
  section:nth-of-type(1) .text {
    font-size: 20pt;
    line-height: 36pt;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 12pt;
  }
  .desc {
    font-size: 15pt;
  }
  .me {
    margin-bottom: 20px;
  }
  .container {
    padding: 0 20px;
  }

  .header {
    font-size: 30pt;
  }

  .header-bar {
    margin: 25px 0 100px 0;
  }

  .label {
    font-size: 18pt;
  }

  .hex-wrap {
    height: 100px;
    width: 100px;
  }

  .slide,
  .carousel-wrap {
    height: 450px;
  }

  .mdi-chevron-left,
  .mdi-chevron-right {
    font-size: 25pt !important;
  }

  .modal-wrap .modal {
    top: -1vh;
    height: initial;
  }
  .modal-wrap .info-box {
    padding: 35px 60px 90px 25px;
  }
  .modal-wrap .title {
    font-size: 22pt;
    line-height: 30pt;
  }

  .modal-wrap .detail {
    font-size: 11pt;
    line-height: 18pt;
    margin-top: 15px;
  }
  .modal-wrap .close {
    right: 25px;
  }
  .modal-wrap .button2 {
    left: 25px;
  }

  nav .link-wrap {
    position: initial;
    background: none;
    overflow: visible;
    height: initial;
    text-align: left;
  }
  nav .link-wrap .visible {
    height: initial;
  }
  nav .link-wrap div {
    margin: 0 20px;
    padding: initial;
    font-size: initial;
    display: inline;
  }
  nav .link-wrap div:first-child {
    padding: 0;
  }
  nav .mdi-menu {
    display: none;
  }

  section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
  }
  section .container {
    padding: 0 10px;
  }

  section:nth-of-type(3) .header {
    color: #fff;
  }

  section:nth-of-type(3) .header-bar {
    margin: 25px 0 40px 0;
    background: #fff;
    width: 110px;
  }
}
@media screen and (min-width: 960px) {
  .waypoint {
    opacity: 0;
  }

  .animated.waypoint#gallery {
    opacity: 1;
  }
  .animated.waypoint#gallery .mix:nth-child(1) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.1s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(2) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.2s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(3) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.3s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(4) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.4s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(5) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.5s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(6) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.6s ease both;
  }

  .animated.slide-up {
    animation: slideUp 0.75s ease both;
  }
  .animated.slide-down {
    animation: slideDown 0.75s ease both;
  }
  .animated.slide-in-left {
    animation: slideInLeft 0.75s ease both;
  }
  .animated.slide-in-right {
    animation: slideInRight 0.75s ease both;
  }
  .animated.flip-in-x {
    animation: flipInX 0.75s ease both;
  }
  .animated.fade-in {
    animation: fadeIn 0.75s ease both;
  }
  .animated.pop-in {
    animation: popIn 1s both;
  }

  .canvas {
    background: white;
  }

  .button {
    font-size: 16pt;
  }

  .flex.row-gt-sm {
    flex-direction: row;
  }

  .flex-40-gt-sm {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
  }

  section:nth-of-type(2) #gallery .mix .card {
    width: 390px;
  }
  section:nth-of-type(2) .filter {
    font-size: 13pt;
    padding: 0 40px;
    margin: 0 25px;
  }

  section:nth-of-type(1) .filter {
    font-size: 13pt;
    padding: 0 40px;
    margin: 0 25px;
  }
}

.logo {
  width: 200px;
  height: 200x;
  font-size: 200px;
  line-height: 200px;
  margin-left: 30px !important;
  margin-right: 80px !important;
  padding-left: 40px;
  padding-bottom: 40px;
}

.item_description {
  width: 100%;
}
.me {
  height: 200px;
  border-radius: 50%;
  padding-right: 20px;
  padding-left: 20px;
}

image {
  height: 0;
  padding-bottom: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 40%;
}
.desc,
.image {
  float: left;
  display: block;
}
.desc {
  width: 60%;
  text-align: center;
  padding: 20px;
  line-height: 20pt;
  font-family: "Lora", serif;
}
@media (max-width: 750px) {
  .desc,
  .image {
    float: none;
    width: 100%;
  }
  .desc {
    padding: 0px;
  }
}
